[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
stanza = "*"
torch = "*"
language_tool_python = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
